#form {
  display: flex;
  justify-content: space-between;
}

#form input {
  font-size: 1em;
  border-radius: 5px;
  width: 80%;
  border: 1px solid transparent;
  outline: none;
  padding: 10px;
}

/* button searcher styles */
#btn-search {
  width: 17%;
  background-color: var(--dark-primaryBtn);
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.2em 0.9em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.1s ease-in;
}

@media (min-width: 768px) {
  #btn-search:hover {
    background: var(--dark-foreground);
  }
}
