.card {
  min-height: 2.3rem;
  width: 70%;
  display: flex;

  justify-content: space-between;
  align-items: center;

  background: var(--dark-foreground);
  margin: 4px;
  margin-left: 15%;
  padding: 10px;
}

.card img {
  cursor: pointer;
  transition: ease-out 0.3s;
}

#title-song {
  cursor: pointer;
}

/* renaming form */

#renaming-form {
  width: 97%;
  display: flex;
  justify-content: space-between;
}

#renaming-form input {
  padding: 0.2rem 0.4rem;
  background: var(--dark-background);
  border: none;
  width: 70%;
  outline: none;
}

#renaming-form button {
  cursor: pointer;
  border-radius: 0.4rem;
  /* background: var(--dark-primaryBtn); */
  background: transparent;
  color: var(--dark-secondaryBtn);

  padding: 4px 1rem;
  border: 1px solid var(--dark-secondaryBtn);
  margin-left: 0.3rem;
}

@media (min-width: 768px) {
  .card img:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 768px) {
  .card {
    min-height: 2.3rem;
    width: 96%;
    display: flex;

    justify-content: space-between;
    align-items: center;

    background: var(--dark-foreground);
    margin: 2% 0;
  }
  #renaming-form button {
    width: 90%;
    margin: 0 5%;
  }
  #renaming-form input {
    padding: 0.1rem 0.1rem;
    background: var(--dark-background);
    border: none;
    width: 80%;
    outline: none;
  }
}
